body {
	font-family: 'Segoe UI', sans-serif;
}

span {
	font-style: italic;
}

#wapp-city-image-content {
	width: 100%;
	height: 25em;
	overflow: hidden;
}

#wapp-city-image-placeHolder {
	height: 25em;
}

#wapp-city-image-row {
	margin-bottom: 30px;
}

.absolute-text {
	position: absolute;
	bottom: 0;
	font-size: 4em;
	/*font-family: "vedana";*/
	background: rgba(255,255,255,0.7);
	padding: 10px 20px;
	width: 100%;
	text-align: center;
}

.selectmargin {
	margin: 10px 0px 10px 0px; 
}
