body {
	font-family: 'Segoe UI', sans-serif;
}

span {
	font-style: italic;
}

#wapp-city-image-content {
	width: 100%;
	height: 25em;
	overflow: hidden;
	
}

#wapp-city-image-placeHolder {
	height: 25em;
}

#wapp-city-image-row {
	margin-bottom: 30px;
}
